#header {
  padding: 15px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
}

#header .navbar {
  padding: 0;
  justify-content: space-between;
  background: none !important;
}

#header .navbar-brand {
  color: #f64b4b;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 0;
  font-size: 22px;
  line-height: 1.6;
}

#header .navbar-collapse {
  flex-grow: 0;
}

#header .navbar-collapse .navbar-nav {
  font-size: 14px;
  line-height: 20px;
}

#header .navbar-collapse a:last-child {
  padding-right: 0;
}

#header .navbar-collapse a {
  color: #4d4d4d;
  position: relative;
}

#header .navbar-collapse a:hover,
#header .navbar-collapse a.active {
  background: none;
  color: #f64b4b;
}

#header .navbar-collapse a:before {
  content: '';
  background: #f64b4b;
  height: 1px;
  position: absolute;
  bottom: 7px;
  left: -20px;
  right: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

.nav-items{
  margin-left: 5px;
}
#s1{
  color: rgb(120, 176, 250);
  margin-left: 5px;
}

.block {
  padding: 70px 0;
  border-bottom: 1px solid #e6e6e6;
}

.home-block {
  margin: 65px 0 0;
}

.home-block .carousel-item:before {
  content: '';
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-block .carousel-item img {
  width: 100%;
}

.home-block .carousel-caption {
  left: 25%;
  right: 25%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  bottom: 50%;
}
.home-block p {
  margin: 0 0 30px;
}
.content-block ul {
  margin: 0 0 15px;
}

.content-block ul li {
  position: relative;
  padding: 0 0 0 20px;
}

.content-block ul li:before {
  content: '\f101';
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.content-block ul li a {
  color: #333;
}

.content-block ul li a:hover {
  color: #f64b4b;
}

#bt1{
  border-color: #fff;
  background: #f64b4b;
  padding: 9px 13px;
}


.btn.btn-primary {
  background: #f64b4b;
  border-color: #f64b4b;
  padding: 13px 35px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: #fff;
  border-color: #f64b4b;
  color: #f64b4b;
}

.btn.btn-primary .fas {
  margin: 0 0 0 6px;
  font-size: 15px;
}
.about-block .progress-block {
  margin: 0 0 25px;
}

.about-block .progress-block h4 {
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 16px;
}

.about-block .progress-bar {
  background-color: #f64b4b;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}
.title-holder {
  text-align: center;
  margin: 0 0 40px;
}
.title-holder h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
}

.title-holder .subtitle {
  color: #999999;
}

.title-holder .subtitle:before {
  content: '-';
  margin: 0 5px 0 0;
}

.title-holder .subtitle:after {
  content: '-';
  margin: 0 0 0 5px;
}
.main_title{
  font-family: 'Times New Roman', Times, serif;   
}
#he1{
  font-family: 'Times New Roman', Times, serif;
  font-size:35px;
  color: rgb(6, 46, 122);
  
}
#p3{
  font-size: 21px;
  color: black;
}
.welcome_left_text{
  font-size: large;
  color: gray;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
#p4{
  font-size: 21px;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
}
#p5{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.bttn{
  margin-left: 3px;
  border-radius: 10px;
}
.services-block {
  padding: 40px 0 25px;
}

.services-block .row {
  margin-bottom: 0;
}

.services-block .holder:hover {
  margin: 0;
}
.services-block .icon {
  width: 60px;
  height: 60px;
  font-size: 26px;
  color: #f64b4b;
  margin: 0 0 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.services-block .icon .fas {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 2;
}

.services-block .row {
  margin: 0 -15px 50px;
}

.services-block .row:last-child {
  margin: 0 -15px;
}

.services-block .holder {
  transition: all 0.3s linear;
}

.services-block .holder:hover {
  margin-top: -5px;
}

.services-block .holder:hover .icon {
  box-shadow: inset 0 0 0 30px #f64b4b;
  color: #fff;
  font-size: 18px;
}
.chefs-block .portfoliolist>div {
  padding: 15px;
  overflow: hidden;
}

.chefs-block .portfoliolist>div img {
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.chefs-block .portfoliolist>div .label {
  position: absolute;
  height: 60px;
  bottom: -60px;
  left: 0;
  right: 0;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: #fff;
}

.chefs-block .portfoliolist>div h3 {
  margin: 0 0 5px;
  color: #f64b4b;
  font-size: 16px;
}

.chefs-block .portfoliolist>div p {
  margin: 0;
  font-size: 12px;
}

.chefs-block .portfoliolist>div:hover .label {
  bottom: 0;
}

.chefs-block .portfoliolist>div:hover img {
  transform: scale(1.08);
}

.chefs-block .portfoliolist .portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #666;
  cursor: pointer;
  height: auto;
  width: 100%;
}

.chefs-block .portfoliolist .label {
  font-size: 100%;
}
#p1{
  font-size: 21px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.testimonials-block {
  padding: 90px 0 70px;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('assets/images/slide5.jpg');
  position: relative;
  color: #fff;
}

.testimonials-block:before {
  content: '';
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.testimonials-block .container-fluid {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 900px;
}

.testimonials-block .subtitle {
  color: #cccccc;
}

.testimonials-block blockquote {
  border: 0;
  text-align: center;
  margin: 0;
  padding: 0 0 10%;
}

.testimonials-block cite {
  font-style: normal;
  padding: 15px 0 0;
  display: block;
}

.testimonials-block cite span {
  display: block;
}

.testimonials-block .name {
  margin: 0;
  text-transform: uppercase;
}

.testimonials-block .name:before {
  content: '-';
  margin: 0 5px 0 0;
}

.testimonials-block .designation {
  font-size: 14px;
}

.testimonials-block .carousel-indicators button {
  border: 0;
}

.testimonials-block .carousel-indicators .active {
  background: #f64b4b;
}
span{
  float: right;
  color: #e3764b;
  font-size: 20px;
  font-family: "Playfair Display",serif;
  font-weight: bold;
}
.menu-block{
  padding: 40px 0 25px;
}
#soj{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
#p8{
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: italic;
}
#hr3{
  border-top: 2px dotted black;
}
.blog-block {
  background: #f2f2f2;
}

.blog-block.content-block .holder:hover {
  box-shadow: none;
}

.blog-block.content-block .holder:hover .image img {
  transform: none;
}

.blog-block.content-block .comment-block ul {
  margin: 0;
}

.blog-block.content-block .comment-block li {
  padding: 0;
}

.blog-block.content-block .comment-block li:before {
  display: none;
}

.blog-block .row {
  margin-bottom: 50px;
}

.blog-block .row:last-child {
  margin-bottom: 0;
}

.blog-block .holder {
  background: #fff;
  padding: 15px;
  transition: box-shadow 0.3s linear;
}

.blog-block .holder:hover {
  box-shadow: 0 0 30px 0 #d9d9d9;
}

.blog-block .card {
  border: 0;
}

.blog-block .card-body {
  padding: 0;
}

.blog-block img {
  margin: 0 0 15px;
}

.blog-block time {
  display: block;
  margin: 0 0 10px;
}

.blog-block .card-title {
  margin: 0 0 10px;
  color: #f64b4b;
  font-size: 22px;
}

.blog-block .card-title a:hover {
  color: #d10a0a;
}

.blog-block .meta {
  overflow: hidden;
  margin: 0 0 10px;
}

.blog-block .meta time {
  float: left;
  padding: 0 10px 0 0;
}

.blog-block .meta .category {
  float: right;
  padding: 0 0 0 10px;
}

.blog-block .meta .category a {
  color: #333;
}

.blog-block .meta .category a:hover {
  color: #f64b4b;
}
.contact-block {
  position: relative;
}

.contact-block .row {
  margin: 0 0 25px;
}

.contact-block .btn-holder {
  text-align: center;
}

.contact-block .contact-form {
  margin: 0 0 60px;
}

.contact-block iframe {
  border: 0;
  width: 100%;
  height: 450px;
}

.contact-block .contact-info {
  padding: 70px 40px 0;
  position: relative;
  z-index: 1;
  font-size: 18px;
  border-radius: 5px;
}

.contact-block .contact-info ul {
  text-align: center;
}

.contact-block .contact-info li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
}

.contact-block .contact-info .fas {
  display: block;
  font-size: 40px;
  margin: 0 0 15px;
  color: #f64b4b;
}
#footer {
  margin-top: 130px;
  background: #f64b4b;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

#footer .copyright {
  margin: 0 0 15px;
}

#footer .socials a:hover {
  background: #f53333;
}
.socials {
  display: table;
  height: 100%;
  width: 100%;
}

.socials ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.socials li {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
}

.socials a {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #f64b4b;
  border-radius: 50%;
  display: block;
  text-align: center;
  padding: 2px;
  transition: background 0.3s linear, color 0.3s linear;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
}

.socials a:hover {
  background: #f64b4b;
  color: #fff;
}

.socials .fab {
  line-height: 2;
}

.go-top {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f64b4b;
  border-radius: 3px;
  color: #fff;
  border: 0;
}

.go-top:before {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  content: '';
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -6px;
}

.go-top:hover {
  background: #f41a1a;
}
.form_container{
  width: 30%;
}
@media screen and (max-width: 1000px) {
  .form_container{
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .form_container{
    width: 65%;
  }
}
#sidebar-wrapper {
  width: 250px; /* Set a width that fits your design */
}
